<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width = device-width, initial-scale = 1">
		<title>EXAMPLE Generator</title>
		<link rel="stylesheet" type="text/css"  \
		href="{{ url_for('static', filename='scripts/bootstrap-4.4.1-dist/css/bootstrap.min.css')}}">
		<!-- FIXME this makes the glpyhicons work -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Our style sheet being last allows our custom style to override bootstrap -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/custom_style.css')}}">
	<body ng-app="example" ng-controller="example_controller">
		<!-- ################################### -->
		<!-- #### The top menu bar/ nav bar #### -->
		<!-- ################################### -->
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
				<a class="navbar-brand" href="#">
					<!-- img class="media-object logo" id="example-logo" src=/static/style/ FIXME .png-->
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" role="button">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#">About</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Help</a></li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">Request Help</a>
							<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Submit Jira Ticket</a>
									<a class="dropdown-item" href="#">Email for Help</a>
									<a class="dropdown-item" href="#">Contact Website Admin</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div> <!-- END top menu navbar -->

		<hr>
		<!-- ################################## -->
		<!-- #### The "Get Started" screen #### -->
		<!-- ################################## -->
		<div class="container" ng-show="active_window[START_SCREEN]">
			<!-- This is the "welcome" screen -->
			<div class="jumbotron">
				<h1 class="display-4">Welcome to the Aaron's Example Generator</h1>
				<p class="lead">This site used to allow you to generate an entire jira project for a certain program, and copy it into the destination project of your choosing.  To begin, click the "Get Started" button!</p>
				<button class="btn btn-primary btn-lg" href="#" role="button" \
				ng-click="window_transition(START_SCREEN, FORWARD)" >Get Started</button>
			</div>
		</div> <!-- END start screen block -->
		<!-- ###################################### -->
		<!-- #### The project selection screen #### -->
		<!-- ###################################### -->
		<div class="container" ng-show="active_window[PROJ_SCREEN]">
			<div class="jumbotron">
				<h1>Choose your destination project</h1>
				<form>
					<div class="form-group">
						<label>Search</label>
						<input type="text" ng-model="search" class="form-control" \
						placeholder="Click here to search..">
					</div>
				</form>
					<table class="table table-bordered table-sm table-hover proj_data" \
					 id="dest_projects_table" cellspacing="0" width="80%" show-filter="true">
						<thead>
							<th class="th-sm" ng-click="sort('name')">Name
								<span class="glyphicon sort-icon" ng-show="sortKey=='name'" \
								ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}" \
								aria-hidden="true">
								</span>
							</th>
							<th class="th-sm" ng-click="sort('key')">Key
								<span class="glyphicon sort-icon" ng-show="sortKey=='key'" \
								ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}" \
								aria-hidden="true">
								</span>
							</th>
							<th class="th-sm" ng-click="sort('id')">Project ID
								<span class="glyphicon sort-icon" ng-show="sortKey=='id'" \
								ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}" \
								aria-hidden="true">
								</span>
							</th>
						</thead>

							<tr ng-repeat="project in projects|filter:search|orderBy:sortKey:reverse" \
							 ng-class="{'bg-info':project.selected}" ng-click="proj_select(project.name)" \
							 class="cursor-pointer">
								<td>{a project.name a}</td>
								<td>{a project.key a}</td>
								<td>{a project.id a}</td>
							</tr>

				</table>

				<div class="alert alert-danger alert-dismissible fade in" role="alert" \
						 ng-show="project_warning">
					<strong>Warning: </strong>Please select a project before continuing
				</div>

				<button class="btn btn-danger btn-lg" href="#" role="button" \
				ng-click="window_transition(PROJ_SCREEN, BACKWARD)">Back</button>
				<button class="btn btn-success btn-lg" href="#" role="button" \
				ng-click="window_transition(PROJ_SCREEN, FORWARD)">Next</button>


			</div>
		</div> <!-- END Project Selection block -->
		<!-- ########################################### -->
		<!-- #### The technologies selection screen #### -->
		<!-- ########################################### -->
		<div class="container" ng-show="active_window[TECHNOLOGIES_SCREEN]">
			<div class="jumbotron">
				<h3>Pick your technologies</h3>
				<form class="form-check list-group">
					<label class="list-group-item list-group-item-action" \
						ng-repeat="technology in technologies" \
					  ng-class="{'active':technology.selected}"><input type="checkbox" \
						ng-model="technology.selected" />
						{a technology.name a}
					</label>
				</form>

				<div class="alert alert-danger alert-dismissible fade in" role="alert" \
						 ng-show="tech_warning">
					<strong>Warning: </strong>Please select at least one technology
				</div>

				<button class="btn btn-danger btn-lg" href="#" role="button" \
				ng-click="window_transition(TECHNOLOGIES_SCREEN, BACKWARD)">Back</button>
				<button class="btn btn-success btn-lg" href="#" role="button" \
				ng-click="window_transition(TECHNOLOGIES_SCREEN, FORWARD)">Next</button>
			</div>
		</div> <!-- END technology selection block -->
		<!-- ########################################### -->
		<!-- #### The selection verification screen #### -->
		<!-- ########################################### -->
		<div class="container" ng-show="active_window[VERIFY_SCREEN]">
			<div class="jumbotron">
				<h3>You Are about to submit the following job:</h3>
				<div class="card border-danger">
					<div class="card-body text-dark">
						<p>Issues will be added to the following project: <strong>{a selected_project a}</strong></p>
						<p>Issues pertaining to the following technologies will be added:</p>
						<div class="card-columns">
							<div class="card border-dark" ng-repeat="technology in selected_technologies">
								<div class="card-body text-center"><p class="card-text">{a technology a}</p></div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<button class="btn btn-danger btn-lg" href="#" role="button" \
				ng-click="window_transition(VERIFY_SCREEN, BACKWARD)">Back</button>
				<button class="btn btn-success btn-lg" href="#" role="button" \
				ng-click="window_transition(VERIFY_SCREEN, FORWARD)">Submit Job</button>
			</div>
		</div> <!-- END verification screen -->

		<button class="fixed-right" ng-click="print_debug()">Debug Prints</button>

	</body>
	<!-- AngularJS  -->
	<script src="{{ url_for('static', filename='scripts/angular_source.js')}}"></script>
	<!-- Custom angular scripts -->
	<script src="{{ url_for('static', filename='scripts/app.js')}}"></script>
	<script src="{{ url_for('static', filename='scripts/example_controller.js')}}"></script>
	<script src="{{ url_for('static', filename='scripts/example_factory.js')}}"></script>
	<!-- JQuery -->
	<script src="{{ url_for('static', filename='scripts/jquery-3.4.1.min.js')}}"></script>
	<!-- Bootstrap  -->
	<script src="{{ url_for('static', filename='scripts/bootstrap-4.4.1-dist/js/bootstrap.min.js')}}"></script>

</html>
