.bg-primary{
	background-color: #215a8f !important;
}
.btn-primary {
	background-color: #215a8f;
}

a.navbar-brand {
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;

}
#ford-logo {
	width: 8rem;
}

.cursor-pointer {
	cursor: pointer;
}

.jumbotron p {
	font-size: 16px;
}
